.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),url("https://www.rinfin.ru/upload/resize_cache/assets/img/1920_1920_1/%D0%A0%D0%B5%D0%B3%D0%B8%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8F%20%D0%B2%D1%8B%D0%BF%D1%83%D1%81%D0%BA%D0%B0%20%D0%B0%D0%BA%D1%86%D0%B8%D0%B9%20%D0%B2%20%D0%A6%D0%91%20%D0%A0%D0%A4.jpg");
    background-size: cover;
}

.register-title {
    font-size: 50px;
}

.register-form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.register-form > label {
    margin: 10px 0;
}

.register-input {
    padding: 10px;
    background-color: white;
    border: none;
}

.register-button{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
   border: none;
   color: white;
   border-radius: 10px;
   padding: 10px;
}

.register-login-button{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    
}




